body {
	background-color: #f2f2f2;
}

.register-form {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
	color: #f00;
	font-size: 12px;
}

.fixed-bottom {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    color: brown;
}

.h2, h2 {
    font-size: 2rem;
    color: purple;
}